.slab {
    display: flex;
    width: 25%;
    height: 33%;
    background-color: #d4a752;
    border: 2px dashed bisque;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: grab;
    font-size: 350%;
    text-shadow: 0 0 5px black;
}

.rotate {
    animation: rotate-slab 500ms;
    cursor: no-drop;
}

@keyframes rotate-slab {
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }

}